services:
  postgres:
    image: postgres:18.1-alpine
    environment:
      POSTGRES_PASSWORD: 1234
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    environment:
      DB_HOST: postgres        
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: 1234
      DB_NAME: postgres
      DB_SSLMODE: disable
    ports:
      - "8080:8080"
    depends_on:
      - postgres

volumes:
  postgres_data: